<div class="row">
	<h1><strong>アバウトページ</strong></h1>
	以下、仮置き<br>

	<p>◆サイト概要
	登録ユーザがルール内で自由に出品・買取できる通販サイトです。
	出品するユーザは任意でその品にまつわる「おもいで」を付属することができ、
	買取ユーザはその「おもいで」の品に対し追加でポイントを加算することができます。
	出品ユーザは追加ポイントを受け取ることでより多くの取引ができるようになり、
	買取ユーザはポイントで「支援」することでより多くの「おもいで」の品に触れることができます。
	このとき、付属して語る「おもいで」は「ウソ」でもいいと考えています。
	「ウソ」でも人を感動させられれば、それは「ホンモノ」になるからです。

	◆サイトコンセプト
	おもいでの品を誰かに引き継ぐことができる通販サイト

	◆テーマを選んだ理由
	ある日Amazonレビューでその商品に関する「おもいで」を読む機会があり、
	もっと自発的に語ることのできるサイトがあると面白いのではないかと考えました。</p>

</div>