<div class="row">
	<h1><strong>アバウトページ</strong></h1><br />

	<p>◆サイト概要
	登録ユーザがルール内で自由に出品・買取できる通販サイトです。
	出品するユーザは任意でその品にまつわる「おもいで」を付属することができます。
	このとき、付属して語る「おもいで」は「ウソ」でもいいと考えています。
	「ウソ」でも人を感動させられれば、それは「ホンモノ」になるからです。

	◆サイトコンセプト
	おもいでの品を誰かに引き継ぐことができる通販サイト

	◆テーマを選んだ理由
	ある日Amazonレビューでその商品に関する「おもいで」を読む機会があり、
	もっと自発的に語ることのできるサイトがあると面白いのではないかと考えました。</p>

	◆サンプル投稿の画像引用元
	パブリックドメインの他、「いらすとや」様から画像を使用しています。
	<a href="https://publicdomainq.net/">「パブリックドメインＱ」様</a>
	<a href="https://www.irasutoya.com/">「いらすとや」様</a>
</div>