	<div class="row">
		<div class="col-lg-12" style="background-color: orange;">
			<h1>アイテム一覧ページ</h1><br />
			※できれば下に人気ジャンルを表示したい　※いいね数が多いものを優先して表示したい
		</div>
		<!-- 取得したitemsをeach文で表示していく -->
		<!-- 以下モック用仮置き -->
		<div class="col-lg-4" style="background-color: red;">
			<h1>商品画像</h1><br />
			<h3>商品名</h3><br />
			<h3>ジャンル</h3>
		</div>
		<div class="col-lg-4" style="background-color: yellow;">
			<h1>商品画像</h1><br />
			<h3>商品名</h3><br />
			<h3>ジャンル</h3>
		</div>
		<div class="col-lg-4" style="background-color: blue;">
			<h1>商品画像</h1><br />
			<h3>商品名</h3><br />
			<h3>ジャンル</h3>
		</div>
		<div class="col-lg-4" style="background-color: blue;">
			<h1>商品画像</h1><br />
			<h3>商品名</h3><br />
			<h3>ジャンル</h3>
		</div>
		<div class="col-lg-4" style="background-color: red;">
			<h1>商品画像</h1><br />
			<h3>商品名</h3><br />
			<h3>ジャンル</h3>
		</div>
		<div class="col-lg-4" style="background-color: yellow;">
			<h1>商品画像</h1><br />
			<h3>商品名</h3><br />
			<h3>ジャンル</h3>
		</div>

	</div>
