/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 a {
   color: #294653;
 }

 a:hover{
   text-decoration: none;
 }

 .container {
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
 }

 .field {
  padding-top: 15px;
 }

 li {
  list-style:  none;
 }

 /* header */

 header {
 }

 .navbar {
   border-color: red;
   border-radius: 0;
   background-color: white;
 }

 .navbar-nav {
   border-color: #090909;
 }

 .navbar-nav>a {
  color: #294653;
}

 .navbar-left, .navbar-right {
   padding: 5px 0px 0px;
 }

 .logo {
   padding-top: 10px;
 }

.navbar-right>li {
  position: relative;
  display: block;
}

 /* body */

 body {
   background-color: white;
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 13px;
   line-height: 18px;
 }

 span {
   font-size: 30px;
 }

 .glyphicon {
   top: -1px;
 }

 .btn {
   margin: 10px;
 }

 /* slideshow */

 .slideshow {
  height: 500px;
}

 .theTarget {
 width: 100%;
 }

 /* item */

.comment-tb {
  margin: 0 0 15px;
}

.item-index-image {
  background-size: cover;
}

 /* user */

 .exhibition__items {
  height: 400px;
 }

 /* modalWindow */

#overlay {
//モーダルウィンドウの背景
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1;
}

#modalWindow {
// モーダルウィンドウの画面
  width: 500px;
  height: 200px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
//ボタンとメッセージボックスの配置
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .modal-message-box {
    width: 100%;
//下記heightの60pxはボタンの高さで、それを画面の大きさから引いています。
    height: calc(100% - 60px);
    text-align: center;
//文字の配置
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #modal-close-btn {
    width: 50%;
    height: 60px;
  }

  #item-bought-btn {
    width: 50%;
    height: 60px;
  }
}

.item-buy-btn {

//商品購入ボタンを非表示にする
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

 /* footer */

footer {
  height: 30px;
  width: 100%;
  text-align:center;
  margin-top:15px;
}

 #sp-menu {
 display: none;
 }

 /* viewpoint */

@media screen and (max-width:768px) {
//通常のナビゲーションメニューを閉じる
  .normal-menu {
  display: none;
  }

 /* ハンバーガーアイコン */

  #hm-icon{
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
  }

  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }

  .menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
  }

  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
  }

  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }

  .menu-trigger span:nth-of-type(2) {
    top: 20px;
  }

  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }

  .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
    background-color: #fff;
  }

  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }

  .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
    background-color: #fff;
  }

 /* spメニュー */

  #sp-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    min-height: 100%;
    display: none;
    z-index: 9;
  }

  #sp-menu li{
    text-align: center;
    margin-bottom: 30px;
  }

  #sp-menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}

