/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "irohamaru-Regular";
 }

 a {
   color: #294653;
 }

 a:hover{
   text-decoration: none;
 }

 .container {
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
 }

 .field {
  padding-top: 15px;
 }

 li {
  list-style:  none;
 }

.slideshow {
  height: 500px;
}

 /* header */

 header {
 }

 .navbar {
   border-color: red;
   border-radius: 0;
   background-color: white;
 }

 .navbar-nav {
   border-color: #090909;
 }

 .navbar-nav>a {
  color: #294653;
}

 .navbar-left, .navbar-right {
   padding: 30px 20px 0;
 }

 .logo {
   padding-top: 10px;
 }

.navbar-right>li {
  position: relative;
  display: block;
}

 /* body */

 body {
   background-color: white;
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 13px;
   line-height: 18px;
 }

 span {
   font-size: 30px;
 }

 .glyphicon {
   top: -1px;
 }

 .btn {
   margin: 10px;
 }


 /* item */
.comment-tb {
  margin: 0 0 15px;
}

.item-index-image {
  background-size: cover;
}

 /* user */
 .exhibition__items {
  height: 400px;
 }

 /* footer */

footer {
  height: 30px;
  width: 100%;
  text-align:center;
  margin-top:15px;
}
